
<!--<div>
  <div class="row">
    <div class="col-lg-3 "></div>
    <div class="col-lg-6 titleCenter">
      <h2 class="detailTitle animated fadeIn">{{post.title}}</h2>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <img class="blogDetailsImg animated fadeIn" src={{post.url}} />
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row ">
    <div class="col-lg-2 "></div>
    <div class="col-lg-8 blogDetailtitle detailtitle animated fadeIn">
      <h3 class="">{{post.title}} </h3>
    </div>
    <div class="col-lg-2 "></div>
  </div>
</div>-->

<div>

  <div class="row">

      <div class="col-lg-6">
          <div class="row">
            <div class="col title-center">
              <h2 class="detailTitle animated fadeIn">{{post.title}}</h2>
            </div>
          </div>
    
          <div class="row">
            <div class="col  blogDetailtitle detailtitle animated fadeIn">
              <h3 class="">{{post.title}} </h3>
              -<div class="starDiv">
                  <span class="starDivTitle">
                      Oceń:
                  </span>
                  <div class="stars">
                      <i class="fas fa-star rateStar" id="rateStar5"></i>
                      <i class="fas fa-star rateStar" id="rateStar4"></i>
                      <i class="fas fa-star rateStar" id="rateStar3"></i>
                      <i class="fas fa-star rateStar" id="rateStar2"></i>
                      <i class="fas fa-star rateStar" id="rateStar1"></i>
                  </div>
              </div>
            </div>
          </div>
        </div> 
    <div class="col-lg-6">
      <img class="blogDetailsImg animated fadeIn" src={{post.url}} />
    </div>

    

  </div>

</div>