/* You can add global styles to this file, and also import other style files */
img{
    width:100%;
    height:500px;
}


body{
    background-color:grey !important;
    margin:none;
}
a{
    color:white !important;
    text-decoration: none !important;
}

.menu{
    width:100%;
}

ul.mainMenu li{
    color:white;
    text-align: center;
    cursor:pointer;
    transition:.2s ease;
}

ul.mainMenu li:hover{
    text-shadow: 0 0 20px white;
    
}

.navbar-brand{
    transition: .2s ease;
}
.navbar-brand:hover{
    text-shadow: 0px 0px 20px white;
}

/*
  ul{
    list-style-type: none;
    display:block;

}

 .menu ul li{
    float:left;
    background-color: black;
    color:white;
    padding: 8px 16px;
    font-size:15px;
    transition: .2s ease;
    cursor:pointer;
}

.menu ul li:hover{
    background-color:#333333;
}
*/



#data{
    color:white;
}

.list-group-item:hover{
    cursor:pointer;
    background-color:gray;
}

.row{
    margin:0;
    padding:0;
}

.invisible{
    display:none;
}



.textCenter{
    text-align:center;
}

.starDiv{
    display:flex;
    align-items: center;
}

.stars{
    display:flex;
    flex-direction: row-reverse;
}
.starDiv i{
    font-size:20px;
    padding:5px;
    cursor:pointer;

}
.starDiv i:hover, .starDiv i:hover ~ i {
    color:gold;
}

.starDiv .starDivTitle{
    font-size:30px;
    /*background-color:black;*/
    display:inline-block;
    padding-right:10px;

}

.blogItemTitle{
    text-align: center;
    padding: 20px 0;
    background-color:#ff9900;
    width:100%;
}
.blogItemTitle h3 a:hover{
    text-decoration: underline !important;
}

.imageHolder{
    overflow: hidden;
    width:100%;
}
.imageHolder img{
    transition:.4s ease;
}
.imageHolder img:hover{
    transform: scale(1.05,1.05);
}

.timeCounter , .progressCounter{
    padding:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:35px;

}

.blogItem{
    animation-duration: 1s;
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }


  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }


  @keyframes rollIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -12deg);
      transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -12deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .rollIn {
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
  }
/* LOADING ANIMATION*/


@keyframes spinRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinLeft {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.loaderContainer{
    margin: 10% auto;
    position:relative;
    top:25%;
    width:100px;
    height:100px;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader, .loaderInner , .loaderInnerSmall {
    position: absolute;
    /*border: 2px solid #262626;*/
    border-radius: 50%;
    
    /*border-bottom: 4px solid #ff9900;*/
    width: 100px;
    height: 100px;
   
}

.loader{
    border-top: 4px solid #cc7700;
    -webkit-animation: spinRight 2s linear infinite;
    animation: spinRight 1s linear infinite;
    animation-delay:0.3s;
}



.loaderInner {
    border-top: 4px solid #ee8800;
    width: 70px;
    height: 70px;
    -webkit-animation: spinLeft 2s linear infinite;
    animation: spinRight 1s linear infinite;
    animation-delay: 0.2s;
}

.loaderInnerSmall{
    border-top: 4px solid #ff9900;
    width:40px;
    height:40px;
    -webkit-animation: spinRight 2s linear infinite;
    animation: spinRight 1s linear infinite;
    animation-delay: 0.1s;
}


/*------------------------------------------------------------------*/

.textCenter{
    text-align:center;
}
.blogDetailText{
    text-align: center;
    /*border-left: 2px solid white;
    border-right: 2px solid white;*/
}

.blogDetailsImg{
    animation-duration: 1s;
    animation-delay: .2s;
}

.detailTitle{
    animation-duration: 1s;
    color:#ff9900;
}

.detailContent{
    animation-duration: 1s;
    animation-delay: .4s;
}

.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #262626;
    color: #fff !important;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 100%;
    margin-left: -60px;
    font-size:15px;
    opacity: 0;   
    transition:  .5s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left:10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.sendFormButton:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

form{
    background-color: white;
    padding: 10px;
    border-radius:5px;
    margin-top:10px;
}


.contactForm span{
    color:red;
}